.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# VitePress
docs/.vitepress/cache/
docs/.vitepress/dist/

# Node
docs/node_modules/
